[Unit]
Description=Update SBFspot database for day data
After=network.target
After=bluetooth.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sbfspot.3/SBFspot -v -ad1 -am0 -ae0